.git
.agents
.codex
.dart_tool
.idea
.vscode/settings.json

**/.dart_tool
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache
**/.pub
**/build
**/coverage
**/target

commet/.livekit
commet/.vodozemac
commet/assets/js/package/olm.js
commet/assets/js/package/olm.wasm
commet/assets/js/package/olm_legacy.js
commet/assets/vodozemac/vodozemac_bindings_dart*
commet/web/e2ee.worker.dart.js
commet/web/e2ee.worker.dart.js.deps
commet/web/e2ee.worker.dart.js.map

*.log
*.flatpak
*.DS_Store
